
<%- include("header") -%>
<h2>this is a about page</h2>
<p>knsdkj jk jdscdskj jjidsncij jijbciuewi ciewiuewic wiewui ewuic ewuiwecewuic ewuic ewui cewuic weuiewuic ewuiwe ewuie</p>
<%- include("footer") -%>
